.page-header {
    padding: 1rem;
    background-color: var(--page-header)
}


.product-wrapper {
    padding: 0rem 1rem;
    background-color: var(--grey-background);
}

.product__empty-list {
    width: 100%;
    text-align: center;
}

.product__checkout-btn {
    width: 10rem;
}