.page-header {
    padding: 1rem;
    background-color: var(--page-header)
}


.product-wrapper {
    padding: 0rem 1rem;
    background-color: var(--grey-background);
}

.product__empty-list {
    width: 100%;
    text-align: center;
}



.product__checkout-btn-sticky {
    width: 10rem;
    height: 4rem;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 1000;
    background: var(--black-color);
    border: none;
}