.product-card {
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: scale(1.09); 
    cursor: pointer;
  }
  
  .product-image {
    height: 10rem;
    width: 100%; 
    background: black;
    object-fit:fill;
   
  }